@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Averia+Sans+Libre:wght@300;700&display=swap');
 
html, body {
   font-family: 'Average Sans', sans-serif;
   width: 100%;
   background: linear-gradient(0deg,#1f0541,#040b0c 80%) no-repeat;
   background-size: cover;
   background-attachment: fixed;
   margin: 0 auto;
}

html {
    scroll-padding-top: 80px; /* height of your sticky header */
  }

::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav, section {
    width: 50%;
    display: flex;
    box-sizing: border-box;
}

nav {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: #040b0c;
    height: 100px;
    box-shadow: inset 0px -1px 0px rgb(89, 164, 226);
}

.nav_logo {
    width: 100px;
    margin-top: 10px;
}
.hamburger {
    display: none;
}

.navlinks_container {
    display: flex;
    flex-direction: row;
}
 
.navlinks_container a {
    font-family: 'Averia Sans Libre', cursive;
    text-decoration: none;
    color: rgb(223, 116, 223);
    margin: 0 10px;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

.navlinks_container a::after {
    content: "";
    display: block;
    position: absolute;
    bottom: -3px;
    width: 100%;
    height: 1px;
    transform: scaleX(0);
    transform-origin: left;
    background: rgb(25, 129, 214);
    transition: transform 0.3s ease-out;
}

.navlinks_container a:hover::after {
    transform: scaleX(1);
}

h1, h2, h3 {
   font-family: 'Averia Sans Libre', cursive;
}

h3 {
    color: rgb(89, 164, 226);
}

h1 {
    font-size: 2em;
    text-align: center;
    color: rgb(89, 164, 226);
}

section {
    background-color: rgba(247, 242, 242, 0.062);
    min-height: 30vh;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: whitesmoke;
    margin: 0 auto;
}

section.game {
    margin: 20px auto;
}

section > p {
    margin: 5px auto;
    max-width: 80%;
}

#accueil {
    justify-content: center;
}

.game_type {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
}

li {
    margin: 10px auto;
}

img {
    width: 120px;
    border-radius: 3px;
}

.to_game {
    background-color: rgb(91, 93, 235);
    color: white;
    padding: 10px;
    font-size: 1em;
    border: solid white 2px;
    border-radius: 3px;
    margin: 20px auto;
    text-decoration: none;
    color: white;
}

.to_game:hover {
    background-color: rgb(201, 164, 250);
    color: #1f0541;
    font-weight: bold;
    transition: color background-color 0.3s ease-in-out;
}

#reviews {
    margin: 20px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2;
}

article {
    width: 225px;
    height: 175px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px;
    background-color: rgb(9, 4, 12);
    padding: 10px;
    border-radius: 3px;
}

article > img {
    width: 80px;
    height: 80px;
    margin-right: 5px;
}

.gamer {
    width: 100px;
    margin-left: 10px;
}

h4 {
    margin: 3px auto;
}

.gamer > p {
    text-align: inherit;
    margin: 5px auto;
}

footer {
    color: white;
    background-color: rgba(230, 225, 225, 0.199);
    height: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#footer_logo {
    flex-direction: row;
}

.logo {
    width: 25px;
    margin: 20px 15px;
}

/* responsive for players reviews________________________________________________________________________________*/
@media screen and (max-width: 1768px) {
    #reviews {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3;
    }
  }
  @media screen and (max-width: 1268px) {
    #reviews {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 2;
    }
  }
  @media screen and (max-width: 1100px) {
    #reviews {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3;
    }
  }

/* responsive for smaller screens________________________________________________________________________________*/
@media screen and (max-width: 1268px) {
    nav, section {
        width: 80%;
    }
    section > p {
        max-width: 80%;
    }
  }

/* responsive for tablets________________________________________________________________________________*/
@media screen and (max-width: 768px) {
    nav, section {
        width: 100%;
    }

    section > p {
        max-width: 80%;
    }
  }

  /* responsive for smartphones________________________________________________________________________________*/
@media screen and (max-width: 668px) {
    nav {
        padding: 10px;
        height: 50px; 
    }

    html {
        scroll-padding-top: 50px; /* height of your sticky header */
      }

    .nav_icon {
    order: 2;
    margin-left: auto;
    }

    .main_navlinks {
        order: 1;
    }

    .nav_logo {
        width: 50px;
        margin: 15px auto 10px auto;
    }
    
/* burger menu ________________________________________*/
    .hamburger {
        width: 30px;
        height: 30px;
        cursor: pointer;
        border: none;
        display: flex;
        background: #040b0c;
        align-items: center;
        position: relative;
    }

    .hamburger span {
        display: block;
        width: 80%;
        height: 2px;
        background: rgb(89, 164, 226);
        position: absolute;
        pointer-events: none;
        transition: opacity 0.3s 0.15s ease-out;
    }

    .hamburger span:nth-child(1) {
        transform: translateY(7px);
    }

    .hamburger span:nth-child(3) {
        transform: translateY(-7px);
    }

    .hamburger span:nth-child(1),
    .hamburger span:nth-child(3) {
        transition: transform 0.3s ease-out;
    }

    .hamburger.open span:nth-child(1) {
        transform: translate(0) rotate(135deg);
    }

    .hamburger.open span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s ease-out;
    }

    .hamburger.open span:nth-child(3) {
        transform: translate(0) rotate(-135deg);
    }

    .navlinks_container {
        flex-direction: column;
        background: #040b0c;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        left: 0;
        height: 100vh;
        padding: 15px 50px 15px 20px;
        border-right: 1px solid rgb(89, 164, 226);
        transform: translateX(-100%);
        transition: transform 0.3s ease-out;
    }

    .navlinks_container.open {
        transform: translateX(0%);
    }
    
    .navlinks_container a {
        font-family: 'Averia Sans Libre', cursive;
        margin: 10px;
        font-size: 0.8em;
    }

    .navlinks_container a:hover::after {
        transform: scaleX(0);
    }

    h1 {
        font-size: 1.2em;
    }

    h2, h3 {
        font-size: 0.9em;
     }

    section > p {
        max-width: 90%;
    }

    .game_type {
        flex-direction: row;
        margin: 20px auto;
    }

    button {
        margin: 15px auto;
    }

    #reviews {
        grid-template-columns: 1fr;
        grid-template-rows: 6;
    }

}

